Repository diskmanti/kds: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, tidy

lint:
  run: golangci-lint run --fix {staged_files}

format:
  run: gofumpt -w {staged_files}

tidy:
  run: go mod tidy

build(ci): enabled ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): bump version to v0.1.0 and update changelog
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

made it easier
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  commitlint.config.js
  lefthook.yml
  main.go
  package-lock.json
  package.json
Due: lint, format

improve gorelease
  .golangci-lint.yml
  .goreleaser.yaml
Due: none

more changes
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

fix: resolve staticheck issues
  .goreleaser.yml
  Makefile
  main.go
Due: lint, format

fix: fixed relase
  Makefile
Due: none

fix: fixed relase
  .goreleaser.yml
Due: none

fix(ci): golang configfix
  .github/workflows/ci.yml
  .golangci.yml
  go.mod
  go.sum
Due: tidy

fix: deps
  go.mod
  go.sum
Due: tidy

fix: add test
  go.mod
  go.sum
  main.go
  main_test.go
Due: lint, format, tidy

refactor: lower complexity
  .golangci.yml
  .goreleaser.yml
  main.go
Due: lint, format

docs: added comments to code
  main.go
Due: lint, format

formated
  main.go
Due: lint, format

ci: improve
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  Makefile
Due: none

add dependabot
  .github/dependabot.yml
Due: none

fix depednabot
  .github/workflows/dependabot.yaml
Due: none

Path conditions:
  lint: any of: *.go
  format: any of: *.go
  tidy: any of: {go.mod,go.sum}
